* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

:root{
    --ombra: 0px 0px 10px 0px rgba(0,0,0,0.10);
    --white: white;
    --lightblue: lightskyblue;
    --orange: darkorange; 
    --blue: rgb(43, 196, 223);
}

p, label, span{
    font-family: 'Inter', sans-serif;
    font-weight: thin;
}

/* Background */
body{
    width: 100%;
    height: 100vh;
    background-image:url(https://manuelgentile22.github.io/travelBooking/img/BackTravel.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    
}

.boxNavBar{
    display: flex;
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
    background-color:darkorange;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: thin;
}

#titleNavBar{
    margin: 0px;
    padding: 15px;
    font-size: 25px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.spanHome{
    margin: 0px;
    padding: 15px;
    font-size: 0.7em;
}

a .spanHome{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--white);
}

a .spanHome:hover{
    text-decoration: none;
}

.boxNavBar a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

/* Background scelte */

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.boxPage{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: auto;
    background-color:rgb(252, 249, 240);
    border: 15px solid;
    border-color: rgb(43, 196, 223);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

@media only screen and (max-width:900px) {
    .boxPage{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: auto;
        background-color:rgb(252, 249, 240);
        border: 15px solid;
        border-color: rgb(43, 196, 223);
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;
    }
}

@media only screen and (max-width:600px) {
    .boxPage{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 70%;
        height: auto;
        background-color:rgb(252, 249, 240);
        border: 15px solid;
        border-color: var(--blue);
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px;
    }
}

/* Box scelte */

.contenitoreOpzioni{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: auto;
    border: 5px solid;
    border-color:var(--orange);
    background-color: var(--lightblue);
    color: var(--white);
    margin-top: 35px;
    box-sizing: border-box;
}

.contenitoreOpzioniRitorno{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: auto;
    border: 5px solid;
    border-color: var(--orange);
    color: var(--white);
    margin-top: 35px;
    box-sizing: border-box;
    background-color: var(--lightblue);
}


@media only screen and (max-width:500px) {
    .boxPage{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 85%;
        height: auto;
        background-color:rgb(252, 249, 240);
        border: 15px solid;
        border-color: rgb(43, 196, 223);
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        padding-top: 30px;
    }
    
    .contenitoreOpzioni {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 85%;
        height: auto;
        border: 5px solid;
        border-color:var(--orange);
        background-color: var(--lightblue);
        color: var(--white);
        margin-top: 35px;
        box-sizing: border-box;
    }

    .contenitoreOpzioniRitorno{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 85%;
        height: auto;
        border: 5px solid;
        border-color: var(--orange);
        color: var(--white);
        margin-top: 35px;
        box-sizing: border-box;
        background-color: var(--lightblue);
    }
}

.navAR{
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    color: var(--white);
    font-size: 1.2rem;
}

.sAndata{
    padding: 5px;
    text-align: center;
    width: 80%;
    border-right: 1px solid rgb(43, 196, 223);
    cursor: pointer;
    font-size: 1rem;
}

.sSoloAndata{
    padding: 5px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
}

.sRitorno{
    padding: 5px;
    text-align: center;
    width: 20%;
    border-left: 1px solid rgb(43, 196, 223);
    cursor: pointer;
    font-size: 1rem;
}

.nascondiSpanRitorno{
    display: none;
    visibility: hidden;
}


#scelteContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#boxContainerAndata{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#scelteContainerRitorno{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#boxContainerRitorno{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contenitoreCittàPD{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.contenitoreCittàPDR{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.contenitoreCittàPartenza{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenitoreCittàPartenzaR{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenitoreCittàDestinazione{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenitoreCittàDestinazioneR{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.paragrafiElementi{
    padding: 7px;
    font-size: 0.65rem;
}

.contenitoreData{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenitoreDataR{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenitoreDataA{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenitoreDataRit{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenitorePasseggeri{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.contenitoreAdulto{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenitoreAdolescente{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenitoreNeonato{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenitoreTesti{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contenitoreOrario{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.contenitoreButtonScelta{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.contenitoreButtonSceltaR{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.buttonCheck{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20px;
    background-color: var(--blue);
    border: 3px solid var(--orange);
    color: white;
    font-size: 0.6rem;
    margin: 5px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

.buttonCheckR{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20px;
    background-color: var(--blue);
    border: 3px solid var(--orange);
    color: white;
    font-size: 0.6rem;
    margin: 5px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

.buttonCheck:hover{
    background-color: rgb(39, 166, 189);
}

.buttonCheckR:hover{
    background-color: rgb(39, 166, 189);
}

.buttonAnnullaCheck{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20px;
    background-color: var(--blue);
    border: 3px solid var(--orange);
    color: white;
    font-size: 0.6rem;
    margin: 5px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

.buttonAnnullaCheckR{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20px;
    background-color: var(--blue);
    border: 3px solid var(--orange);
    color: white;
    font-size: 0.6rem;
    margin: 5px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

.buttonAnnullaCheck:hover{
    background-color: rgb(39, 166, 189);
}

.buttonAnnullaCheckR:hover{
    background-color: rgb(39, 166, 189);
}

.bottoneAvanti{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 20px;
    background-color: var(--blue);
    border: 3px solid var(--orange);
    color: white;
    font-size: 0.6rem;
    margin: 5px 0px 30px 0px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

.bottoneAvanti:hover{
    background-color: rgb(39, 166, 189);
}

.paragrafoSelezionareOrario{
    margin-top: 45px;
    display: flex;
    padding: 7px;
    font-size: 0.65rem;
    color: red;
}

.paragrafoSelezionareOrarioR{
    margin-top: 45px;
    display: flex;
    padding: 7px;
    font-size: 0.65rem;
    color: red;
}

#scelteContainerBagaglio{
    display: none;
    flex-direction: column;
    width: 83%;
    height: auto;
    visibility: visible;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid;
    border-color:var(--orange);
    background-color: var(--lightblue);
    color: var(--white);
}

label{
    position: relative;
    font-size: 0.75rem;
    padding: 5px;
}

.tariffaTitle{
    font-size: 1rem;
}

#boxSpanTariffa{
    margin: 10px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#boxSpanTariffa span{
    color: red;
    font-size: 0.7rem;
}

#boxSpanTariffaR{
    margin: 10px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;  
}

#boxSpanTariffaR span{
    color: red;
    font-size: 0.7rem;
}

.infoTariffe{
    position: relative;
}

.infoTariffe p{
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
}

.infoTariffeR p{
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
}

#boxInfoTariffe{
    position: absolute;
    z-index: 1;
    left: -190px;
    height: auto;
    width: auto;
    border: 5px solid;
    border-color:var(--orange);
    background-color: var(--lightblue);
    color: var(--white);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#boxInfoTariffeR{
    position: absolute;
    z-index: 1;
    left: -190px;
    height: auto;
    width: auto;
    border: 5px solid;
    border-color:var(--orange);
    background-color: var(--lightblue);
    color: var(--white);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#boxInfoTariffe div{
    width: 200px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    padding: 10px;
}

#boxInfoTariffeR div{
    width: 200px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    padding: 10px;
}

.elenco{
    font-size: 15px;
}

#scelteContainerBagaglioR{
    display: none;
    flex-direction: column;
    width: 83%;
    height: auto;
    visibility: visible;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid;
    border-color:var(--orange);
    background-color: var(--lightblue);
    color: var(--white);
}

@media only screen and (max-width:500px) {

    .boxNavBar{
        display: flex;
        position: relative;
        top: 0;
        height: auto;
        width: 100%;
        background-color:darkorange;
        justify-content: left;
        align-items: center;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: thin;
    }
    
    #titleNavBar{
        margin: 0px;
        padding: 15px;
        font-size: 20px;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }

    #boxInfoTariffe{
        position: absolute;
        z-index: 1;
        left: -150px;
        height: auto;
        width: auto;
        border: 5px solid;
        border-color:var(--orange);
        background-color: var(--lightblue);
        color: var(--white);
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #boxInfoTariffeR{
        position: absolute;
        z-index: 1;
        left: -150px;
        height: auto;
        width: auto;
        border: 5px solid;
        border-color:var(--orange);
        background-color: var(--lightblue);
        color: var(--white);
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #boxInfoTariffe div{
        width: 150px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        overflow: scroll;
        padding: 10px;
    }
    
    #boxInfoTariffeR div{
        width: 150px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        overflow: scroll;
        padding: 10px;
    }


    
}
