* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

p, label, span{
    font-family: 'Inter', sans-serif;
    font-weight: thin;
}

:root{
    --ombra: 0px 0px 10px 0px rgba(0,0,0,0.10);
    --white: white;
    --lightblue: lightskyblue;
    --orange: darkorange; 
    --blue: rgb(43, 196, 223);
    --darkblue: #0b111f;
    }

/* Background */
body{
    width: 100%;
    height: 100vh;
    background-image:url(https://manuelgentile22.github.io/travelBooking/img/BackTravel.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;  
}

.boxNavBar{
    display: flex;
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
    background-color:var(--darkblue);
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: thin;
}

#titleNavBar{
    margin: 0px;
    padding: 15px;
    font-size: 25px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.spanHome{
    margin: 0px;
    padding: 15px;
    font-size: 0.7em;
}

a .spanHome{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--white);
}

a .spanHome:hover{
    text-decoration: none;
}

.boxNavBar a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.boxSpan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: 50px;
    background-color:rgb(252, 249, 240);
    box-shadow: var(--ombra);
    border: 3px solid var(--darkblue);
    padding: 20px;
} 

span {
    color: black;
}

@media only screen and (max-width:500px) {

    .boxNavBar{
        display: flex;
        position: relative;
        top: 0;
        height: auto;
        width: 100%;
        background-color:var(--darkblue);
        justify-content: left;
        align-items: center;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: thin;
    }
    
    #titleNavBar{
        margin: 0px;
        padding: 15px;
        font-size: 20px;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }


    
}